!!! 5
%html
  %head
    %link{:href => "/assets/main.css", :type => "text/css", :rel => "stylesheet"}
    %title
      Snotel site graph
  %body
    #graph
    #editor-render-0
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"}
    %script{:src => "/assets/flotr2.js"}
    %script{:src => "/assets/main.js"}